.list-card {
  @include flex(space-between, stretch, column);
  margin: 0 auto;
  margin-bottom: 50px;
  max-width: 1170px;
  @media screen and (min-width: $screen-tablet) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  @media screen and (min-width: $screen-desktop) {
    width: 100%;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  &__item {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    background-color: $shadow-border;
    position: relative;
    &:hover {
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
      background-color: $shadow-border;
    }
    &:not(:last-child) {
      margin-bottom: 30px;
    }
    @media screen and (min-width: $screen-tablet) {
      &:first-child {
        margin-right: 30px;
      }
    }

    @media screen and (min-width: $screen-desktop) {
      &:not(:last-child) {
        margin-bottom: 0px;
      }
      &:first-child {
        margin-right: 0px;
      }
    }
  }
}
