.section-sub {
  @include flex(center, center);
  min-height: 560px;
  text-align: center;
  @media screen and (min-width: $screen-tablet) {
    text-align: start;
    padding-left: 27px;
  }

  &__article {
    min-height: 290px;
    width: 100%;
    max-width: 1200px;
  }
  &__title {
    @include text($H800, 700);
    line-height: 1.3;
    margin-bottom: 15px;
  }
  &__text {
    @include text($H200, 300);
    line-height: 1.6;
    margin-bottom: 28px;
    @media screen and (min-width: $screen-tablet) {
      max-width: 550px;
    }
  }

  &__back-img {
    padding-top: 300px;
    object-position: 95% 50%;
    @media screen and (min-width: $screen-tablet) {
      padding-top: 0px;
      object-position: 100% 100%;
    }
  }
}
